<html>
  <head>
    <title>GraphQL API explorer</title>
    <link href="https://unpkg.com/graphiql/graphiql.min.css" rel="stylesheet" />
  </head>
  <body style="margin: 0">
    <div id="graphiql" style="height: 100vh"></div>

    <script
      crossorigin
      src="https://unpkg.com/react/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/graphiql/graphiql.min.js"
    ></script>

    <script>
      const graphQLFetcher = (graphQLParams) =>
        fetch('<%= ENV.fetch('GRAPHQL_API_URL', 'http://localhost:3000/graphql') %>', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
            Authorization: '<%= ENV.fetch('GRAPHQL_API_KEY', '') %>'
          },
          body: JSON.stringify(graphQLParams)
        })
          .then((response) => response.json())
          .catch(() => response.text())
      ReactDOM.render(
        React.createElement(GraphiQL, { fetcher: graphQLFetcher }),
        document.getElementById('graphiql')
      )
    </script>
  </body>
</html>
